@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@300;400;700&display=swap");

* {
  box-sizing: border-box;
}

html {
  font-family: "Oxygen", sans-serif;
}

body {
  margin: 0;
  background-color: whitesmoke;
}

html,
body {
  background: rgb(5, 25, 55);
  background: -moz-linear-gradient(
    90deg,
    rgba(5, 25, 55, 1) 0%,
    rgba(0, 60, 83, 1) 100%
  );
  background: -webkit-linear-gradient(
    90deg,
    rgba(5, 25, 55, 1) 0%,
    rgba(0, 60, 83, 1) 100%
  );
  background: linear-gradient(
    90deg,
    rgba(5, 25, 55, 1) 0%,
    rgba(0, 60, 83, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#051937",endColorstr="#003c53",GradientType=1);

  color: whitesmoke;
}

.centered {
  margin: 3rem auto;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

#header,
#body,
#footer {
  border: 2px solid yellow;
}

#body {
  min-height: 80vh;
}

.colored-circle {
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  margin-bottom: -2px;
  border-radius: 50%;
  border-style: solid;
  border-width: 0.5px;
  border-color: black;
  height: 20px;
  width: 20px;
}

.component {
  border: 3px solid blueviolet;
}

.loginRegisterComponent {
  border: 3px solid blue;
  /* min-width: 30vw; */
  max-width: 30vw;
}

.contractComponent {
  border: 3px solid blue;
  /* min-width: 30vw; */
  max-width: 30vw;
}
